* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 15%;
    background-color: #040404;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #282828;
    transition: width 0.3s;
}

.sidebar:hover {
    width: 17%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 15px;
    transition: color 0.2s;
}


.sidebar ul li a:hover {
    color: #1db954;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #1db954;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}