body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #1db954, #191414);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    color: #1db954;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.tab-button:hover {
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
#options {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
}

#options {
    width: 100%;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1db954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background: #14833b;
}

.error-message {
    color: #ff4d4d;
    margin-bottom: 15px;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}