.wallet-info {
    margin-bottom: 20px;
    margin-top: 100px;
}

.wallet-actions {
    display: flex;
    gap: 10px;
}

.wallet-actions button {
    padding: 10px 20px;
    background-color: #1DB954;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}

.wallet-actions button:hover {
    background-color: #1ed760;
}

.wallet-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.wallet-input input {
    padding: 10px;
    width: 200px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 1rem;
    text-align: center;
}

.wallet-input button {
    padding: 10px 20px;
    background-color: #1DB954;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.wallet-input button:hover {
    background-color: #1ed760;
}

.wallet-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #1ed760;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
}